USE [master]
GO
/****** Object:  Database [DW ASSIGNMENT]    Script Date: 30/05/2025 11:27:15 ******/
CREATE DATABASE [DW ASSIGNMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW ASSIGNMENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DW ASSIGNMENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW ASSIGNMENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DW ASSIGNMENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW ASSIGNMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW ASSIGNMENT]
GO
/****** Object:  Table [dbo].[BranchDimension]    Script Date: 30/05/2025 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchDimension](
	[branch_key] [int] NOT NULL,
	[branch_name] [nvarchar](50) NULL,
	[branch_type] [char](50) NULL,
 CONSTRAINT [PK_BranchDimension] PRIMARY KEY CLUSTERED 
(
	[branch_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemDimension]    Script Date: 30/05/2025 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDimension](
	[item_key] [int] NOT NULL,
	[item_name] [varchar](50) NULL,
	[brand] [char](50) NULL,
	[type] [char](50) NULL,
	[supplier_type] [char](50) NULL,
 CONSTRAINT [PK_ItemDimension] PRIMARY KEY CLUSTERED 
(
	[item_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationDimension]    Script Date: 30/05/2025 11:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationDimension](
	[location_key] [int] NOT NULL,
	[street] [nvarchar](50) NULL,
	[city] [char](50) NULL,
	[province_or_street] [int] NULL,
	[country] [char](50) NULL,
 CONSTRAINT [PK_LocationDimension] PRIMARY KEY CLUSTERED 
(
	[location_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesFact]    Script Date: 30/05/2025 11:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesFact](
	[time_key] [int] NOT NULL,
	[item_key] [int] NOT NULL,
	[branch_key] [int] NOT NULL,
	[location_key] [int] NOT NULL,
	[units_sold] [int] NULL,
	[dollars_sold] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeDimension]    Script Date: 30/05/2025 11:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeDimension](
	[time_key] [int] NOT NULL,
	[day] [int] NULL,
	[day_of_the_week] [char](50) NULL,
	[month] [int] NULL,
	[quarter] [int] NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_TimeDimension] PRIMARY KEY CLUSTERED 
(
	[time_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SalesFact]  WITH CHECK ADD  CONSTRAINT [FK_SalesFact_BranchDimension] FOREIGN KEY([branch_key])
REFERENCES [dbo].[BranchDimension] ([branch_key])
GO
ALTER TABLE [dbo].[SalesFact] CHECK CONSTRAINT [FK_SalesFact_BranchDimension]
GO
ALTER TABLE [dbo].[SalesFact]  WITH CHECK ADD  CONSTRAINT [FK_SalesFact_ItemDimension] FOREIGN KEY([item_key])
REFERENCES [dbo].[ItemDimension] ([item_key])
GO
ALTER TABLE [dbo].[SalesFact] CHECK CONSTRAINT [FK_SalesFact_ItemDimension]
GO
ALTER TABLE [dbo].[SalesFact]  WITH CHECK ADD  CONSTRAINT [FK_SalesFact_LocationDimension] FOREIGN KEY([location_key])
REFERENCES [dbo].[LocationDimension] ([location_key])
GO
ALTER TABLE [dbo].[SalesFact] CHECK CONSTRAINT [FK_SalesFact_LocationDimension]
GO
ALTER TABLE [dbo].[SalesFact]  WITH CHECK ADD  CONSTRAINT [FK_SalesFact_TimeDimension] FOREIGN KEY([time_key])
REFERENCES [dbo].[TimeDimension] ([time_key])
GO
ALTER TABLE [dbo].[SalesFact] CHECK CONSTRAINT [FK_SalesFact_TimeDimension]
GO
USE [master]
GO
